<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>lab-user</string>
		<key>creation_date</key>
		<date>2026-09-05T00:07:23Z</date>
		<key>munki_version</key>
		<string>7.3.0.5808</string>
		<key>os_version</key>
		<string>26.6.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Mozilla Firefox is a free and open source web browser.</string>
	<key>display_name</key>
	<string>Mozilla Firefox</string>
	<key>installer_item_hash</key>
	<string>ab75b7c9f02083de5636cb2248f8d52dd97669878730a20c514f9dc00d9ca0c6</string>
	<key>installer_item_location</key>
	<string>apps/firefox/Firefox-155.0.1.dmg</string>
	<key>installer_item_size</key>
	<integer>155658</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.mozilla.firefox</string>
			<key>CFBundleName</key>
			<string>Firefox</string>
			<key>CFBundleShortVersionString</key>
			<string>155.0.1</string>
			<key>CFBundleVersion</key>
			<string>15526.9.3</string>
			<key>minosversion</key>
			<string>10.15.0</string>
			<key>path</key>
			<string>/Applications/Firefox.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>mode</key>
			<string>ug+w,o-w</string>
			<key>source_item</key>
			<string>Firefox.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.15.0</string>
	<key>name</key>
	<string>Firefox</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>155.0.1</string>
</dict>
</plist>
