<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>autoremove</key>
		<false/>
		<key>catalogs</key>
		<array>
			<string>testing</string>
		</array>
		<key>description</key>
		<string>With an easy to use interface, connect to FTP, SFTP, WebDAV, Amazon S3, Google Storage, Windows Azure, Rackspace Cloud Files and even Google Docs.</string>
		<key>display_name</key>
		<string>Cyberduck</string>
		<key>installer_item_hash</key>
		<string>126eed349d91da92ba0df17575a3cf4288dc13cab4f24e5e5bceeb95a8a4339f</string>
		<key>installer_item_location</key>
		<string>apps/Cyberduck-9.5.4.dmg</string>
		<key>installer_item_size</key>
		<integer>177217</integer>
		<key>installer_type</key>
		<string>copy_from_dmg</string>
		<key>installs</key>
		<array>
			<dict>
				<key>CFBundleIdentifier</key>
				<string>ch.sudo.cyberduck</string>
				<key>CFBundleName</key>
				<string>Cyberduck</string>
				<key>CFBundleShortVersionString</key>
				<string>9.5.4</string>
				<key>CFBundleVersion</key>
				<string>45528</string>
				<key>minosversion</key>
				<string>10.13</string>
				<key>path</key>
				<string>/Applications/Cyberduck.app</string>
				<key>type</key>
				<string>application</string>
				<key>version_comparison_key</key>
				<string>CFBundleShortVersionString</string>
			</dict>
		</array>
		<key>items_to_copy</key>
		<array>
			<dict>
				<key>destination_path</key>
				<string>/Applications</string>
				<key>source_item</key>
				<string>Cyberduck.app</string>
			</dict>
		</array>
		<key>minimum_os_version</key>
		<string>10.13</string>
		<key>name</key>
		<string>Cyberduck</string>
		<key>unattended_install</key>
		<true/>
		<key>uninstall_method</key>
		<string>remove_copied_items</string>
		<key>uninstallable</key>
		<true/>
		<key>version</key>
		<string>9.5.4</string>
	</dict>
	<dict>
		<key>autoremove</key>
		<false/>
		<key>catalogs</key>
		<array>
			<string>testing</string>
		</array>
		<key>display_name</key>
		<string>Mozilla Firefox</string>
		<key>installer_item_hash</key>
		<string>b0295d3b77ec632a60282cf2b9770e1dada085879d00e43d8d23fddf5015e06a</string>
		<key>installer_item_location</key>
		<string>apps/Firefox 154.0.dmg</string>
		<key>installer_item_size</key>
		<integer>156098</integer>
		<key>installer_type</key>
		<string>copy_from_dmg</string>
		<key>installs</key>
		<array>
			<dict>
				<key>CFBundleIdentifier</key>
				<string>org.mozilla.firefox</string>
				<key>CFBundleName</key>
				<string>Firefox</string>
				<key>CFBundleShortVersionString</key>
				<string>154.0</string>
				<key>CFBundleVersion</key>
				<string>15426.8.12</string>
				<key>minosversion</key>
				<string>10.15.0</string>
				<key>path</key>
				<string>/Applications/Firefox.app</string>
				<key>type</key>
				<string>application</string>
				<key>version_comparison_key</key>
				<string>CFBundleShortVersionString</string>
			</dict>
		</array>
		<key>items_to_copy</key>
		<array>
			<dict>
				<key>destination_path</key>
				<string>/Applications</string>
				<key>source_item</key>
				<string>Firefox.app</string>
			</dict>
		</array>
		<key>minimum_os_version</key>
		<string>10.15.0</string>
		<key>name</key>
		<string>Firefox</string>
		<key>uninstall_method</key>
		<string>remove_copied_items</string>
		<key>uninstallable</key>
		<true/>
		<key>version</key>
		<string>154.0</string>
	</dict>
	<dict>
		<key>autoremove</key>
		<false/>
		<key>catalogs</key>
		<array>
			<string>testing</string>
		</array>
		<key>description</key>
		<string>Mozilla Firefox is a free and open source web browser.</string>
		<key>display_name</key>
		<string>Mozilla Firefox</string>
		<key>installer_item_hash</key>
		<string>ab75b7c9f02083de5636cb2248f8d52dd97669878730a20c514f9dc00d9ca0c6</string>
		<key>installer_item_location</key>
		<string>apps/firefox/Firefox-155.0.1.dmg</string>
		<key>installer_item_size</key>
		<integer>155658</integer>
		<key>installer_type</key>
		<string>copy_from_dmg</string>
		<key>installs</key>
		<array>
			<dict>
				<key>CFBundleIdentifier</key>
				<string>org.mozilla.firefox</string>
				<key>CFBundleName</key>
				<string>Firefox</string>
				<key>CFBundleShortVersionString</key>
				<string>155.0.1</string>
				<key>CFBundleVersion</key>
				<string>15526.9.3</string>
				<key>minosversion</key>
				<string>10.15.0</string>
				<key>path</key>
				<string>/Applications/Firefox.app</string>
				<key>type</key>
				<string>application</string>
				<key>version_comparison_key</key>
				<string>CFBundleShortVersionString</string>
			</dict>
		</array>
		<key>items_to_copy</key>
		<array>
			<dict>
				<key>destination_path</key>
				<string>/Applications</string>
				<key>mode</key>
				<string>ug+w,o-w</string>
				<key>source_item</key>
				<string>Firefox.app</string>
			</dict>
		</array>
		<key>minimum_os_version</key>
		<string>10.15.0</string>
		<key>name</key>
		<string>Firefox</string>
		<key>unattended_install</key>
		<true/>
		<key>uninstall_method</key>
		<string>remove_copied_items</string>
		<key>uninstallable</key>
		<true/>
		<key>version</key>
		<string>155.0.1</string>
	</dict>
</array>
</plist>
